.DataForm {
    border-color: rgba(255, 255, 255, 0.7);
    background-color:#013e8d;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
}

.DataForm label {
    color: white;
    padding: 5px;
    font-size: 16px;
}

.DataForm input {
    background-color: transparent;
    width: 100%;
    color: white;
}

.DataForm input:hover,
.DataForm input:focus {
    outline:none;
    border-color: white;
}

.DataForm h2 {
    margin-bottom: 20px;
    margin-top: -5px;
}



  