footer {
  left: 0;
  bottom: 0 !important;
  width: 100%;
  height: 55px; /*Footer Height*/
  background-color: #111;
  padding-top: 20px;
  color: white !important;
  text-align: center !important;
}
