* {
  box-sizing: border-box; 
  margin: 0; 
}  
  
html, body {
  margin:0 !important;
  padding:0 !important;
  width: 100% !important;
}

/* remove outer padding */
.main .row {
  padding: 0px;
  margin: 0px;
}


/* html {
  border: 2px solid red;
  overflow-x: hidden;
} */

body {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 55px;  /* Height of the footer */
  min-height: calc(100vh - 55px) !important;
  line-height: 1.5;
  position: relative; 
  background-attachment: fixed !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: white;
  /* background: linear-gradient(to bottom right, #004eb8 0%, #18ABFB 50%, #0BDD9C 100%); */
  /* background: linear-gradient(to bottom right, #56B2BA 0%, #1fc8db 51%, #0BDD9C 100%); */
  /* background-image: url("./img/FreeGreatPicture.com-685-background-color.jpg"); */
  color: rgb(56, 58, 66);
  /* border: 2px solid gold; */
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.3;
  font-weight: 600;
  text-align: center;
  position: relative;
  z-index: 200;
}

h1 {
  text-shadow: 4px 4px 2px #111 !important;
  text-transform: uppercase;
  color: white;
}

h2 {
  text-shadow: 2px 2px 2px #111 !important;
  color: #01ffff;
}

h3, h4, h5, h6, p {
  color: #222;
}

h1 {
  font-size: 55px;
}

p {
  font-size: 16px;
}

a {
  color: #ff6600;
}

a:hover {
  color: #ff6600;
  text-decoration: underline;
  text-underline-position: under;
}

/* .container {
  border: 2px solid purple;
} */

/* Parallax Effect */
section.parallax {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* /Parallax Overlay */
section.parallax:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 97, 223, 0.3);
  z-index: 10;
  content:'';
}

/* Why Section Heading */
section.parallax-1 {  
  background: #0047a6;
}

/* Why and Testimonial Content */
section#why-content,
section#testimonial-content {
  /* Offset Hero Overlay Tint */
  /* background-color:#004fb7; */
  background-image: linear-gradient(to top,#01d9ff 0%, #004fb7 100% );
}

/* Features (Heading and Content) */
section.parallax-2 {
  background-image: url("img/tools.png");
}

section#feature-content {
  background-color: transparent;
}

/* Testimonial Heading */
section.parallax-3 {
  background: #0047a6;
  /* background-color: #ff8259; */
  /* background-color: #0047a6; */
  /* background-image: url("img/thumb-up.jpg"); */
}

.over {
  position:relative;
  z-index: 20;
}

/* Team */
section#team {
  background-image: url("img/team.jpg");
  background-position-y: 5vh;
}

/* Contact */
section#contact {
  background-color: #004fb7;
  height: auto;
  margin: 0;
}

.section-heading {
  /* border: 2px solid yellow; */
  padding: 30px;
  height: auto;
}

.hero {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 0;
}

.hero-overlay {
  width: 100%;
  margin: 10% auto;
  height: 100%;
  position: absolute;
}

.hero-overlay h1, 
.hero-overlay h2{
  color: white;
}

.hero-overlay h1 {
  font-size: 80px;
}

.hero-overlay .note {
  text-shadow: 2px 2px 2px #111;
  color: #01ffff;
}

.hero-overlay .btn {
  margin-top: 30px;
}

@media (max-width: 992px) {
  .hero-overlay {
    margin: 2% auto;
  }
}

@media (max-width: 768px) {

  .hero-overlay h1 {
    font-size: 50px;
  }

  .hero-overlay h2 {
    font-size: 18px;
  }
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.panel-login {
  margin-bottom: calc(90% - 50px) !important;
}

section#why {
  margin-top: -6px;
}

#why-content .item,
#features-content .item {
  background-color: white;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  width: 80%;
  margin-left: 10%;
  height: auto;
  position: relative;
}

/* Icons for Why and Features Section */
#why-content i.fa,
#features-content i.fa {
  font-size: 48px;
  margin-top: 20px;
  color: white;
}

i.fa-mobile {
  font-size: 55px !important;
  margin-top: 15px !important;
}

#why-content a.fa,
#features-content a.fa {
  width: 90px;
  height: 90px;
  background-image: linear-gradient(to top,#01d9ff 0%, #004fb7 100% );
  /* background-color: #004eb8; 
  border: 2pt solid #01ffff;
  transition: .5s; */
  border-radius: 50%;
  position: relative;
}

/* #features-content a:hover {
  transform: rotateY(360deg);
  background-color: #004eb8;
} */

/* #features-content a:hover .fa {
  color: white;
} */

/* Video */
.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Demo Section */
#demo-container {
  padding-top: 20px;
}

.demo-gif {
  vertical-align: middle;
  height: auto;
  width: 90%;
  padding: 10px;
  /* border: 1px solid #292A31; */
}

.demo-content {
  padding: 60px 10px 10px 20px;
}

/* About */
#about .team-heading-1 {
  font-size: 22px;
  text-align: left !important;
}

#about .team-heading-2 {
  font-size: 18px;
  text-align: left !important;
  margin-bottom: 15px;
}

#about .row {
  margin-bottom: 30px;
}

#about .about-4 {
  margin-bottom: 200px !important;
}

#about .aboutImg {
  width: 100%;
  padding: 0;
  border: 3px solid #01ffff;
}

/* Testimonial Section */

.content {
  position: relative;
  z-index: 20;
}

#testimonial{
  /* overflow: hidden; */
  min-height: 375px;
  position: relative;
  background: transparent;
}

#testimonial .carousel-inner{
  width: 75%;
  margin: auto;
}

/* #testimonial .carousel-inner .item{
  overflow: hidden;
} */

.testimonial_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial_indicators .carousel-indicators li{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial_indicators .carousel-indicators .active{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  margin: 2px 3px;
  background-color: #004fb7;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial_control_button .carousel-control{
  top: 150px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial_control_button .carousel-control.left{
  left: 7%;
  right: auto;
}
.testimonial_control_button .carousel-control.right{
  right: 7%;
  left: auto;
}
.testimonial_control_button .carousel-control.left:hover,
.testimonial_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 85%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial_slide img {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
}

.testimonial_slide h6 {
  color: #ffffff;
  font-size: 16px;
  margin: 40px 0 20px 0;
  font-weight: normal;
}

.testimonial_slide h5 {
  color: #ffffff;
  font-size: 24px;
  padding-top: 20px;
  font-weight: normal;
}


@media only screen and (max-width: 480px){
  .testimonial_control_button .carousel-control{
    display: none;
  }
  .testimonial_slide{
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .testimonial_control_button .carousel-control.left{
    left: 2%;
  }
  .testimonial_control_button .carousel-control.right{
    right: 2%;
  }
  .testimonial_slide{
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .testimonial_control_button .carousel-control.left{
    left: 5%;
  }
  .testimonial_control_button .carousel-control.right{
    right: 5%;
  }
}

@-webkit-keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
	-webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

/* Private Pages After Logging In */

#private-container {
  margin-top: 50px;
  width: 100%;
  min-height: 100%;
  background-color: white !important;
  border: 2px solid red;
}

.private {
  /* border: 1px dashed #004eb8; */
  height: auto;
  width: 95%;
  color:black;
  background-color: white;
  margin-right: 0px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 70px;
  /* border-radius: 5px;
  border: 1px solid #004eb8;
  padding: 20px;
  margin-bottom: 20px;  */
  opacity: .9;
}

@media (min-width: 736px) {
  .private {
    margin-left: 40px;
  }
};


.product-table {
  /* border-radius: 10px; */
  border: 2px solid #004eb8;
  margin: auto;
  width: 100%;
  height: 100%;
  
}

.product-table, th, td {
  padding: 10px;
}