.jumbotron {
  width: 100%;
  margin-bottom: 20px;
  color: #013e8d;
  background-color: white;
  border-radius: 0;
}

.jumbotron .sub-heading {
  color: white;
}

#about .jumbotron, 
#login-register .jumbotron,
#contact .jumbotron {
  width: 100%;
  margin-top: 45px;
  padding: 10px;
  background: linear-gradient(to top,#18ABFB 0%, #0060DF 100% );
  color: white;
  border-radius: 0;
}

#about .jumbotron .sub-heading,
#login-register .jumbotron .sub-heading,
#contact .jumbotron .sub-heading {
  color: white !important;
}
