.jumbotron {
  min-height: 200px;
  width: 100%;
  margin-left: 0;

  /* background: linear-gradient(to bottom right, #0060DF 0%, #18ABFB 50%, #0060DF 100% ); */
  background-color: rgb(1, 62, 141);
  /* background: black; */
  color: white !important;
  padding: 50px; 
}

.jumbotron .heading {
  margin-top: 50px;
}

.jumbotron .sub-heading {
  color: white;
}