#private-nav {
  margin: 0;
  padding-bottom: 0;
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
  background-color: black !important;
  border-bottom: none !important;
}

#private-nav ul {
  padding-top: 8px;
  width: 100%;
}

#private-nav .navbar-brand:hover {
  color: white;
}

@media (max-width: 1200px) {
  #private-nav .navbar-brand {
    margin-bottom: 10px;
  }
}

#private-nav ul li a,
#private-nav ul li a:link {
  color: white !important;
  margin: auto 2px;
}

#private-nav ul li.active a,
#private-nav ul li a:visited,
#private-nav a:hover,
#private-nav a:active,
#private-nav a:focus {
  background-color: #004fb7 !important;
  color: white;
  cursor: pointer;
}

#username {
  padding: 10px;
  color: white;
}

@media (max-width: 1200px) {
  #private-nav ul li {
    float: left !important;
  }
}

