table {
  width: 100%;
  background-color: #013e8d !important;
  text-align: left;
  color: white !important;
}

table,
th,
td {
  border: 1px solid rgba(128, 128, 128, 0.7);
}

th {
  background-color: #013e8d;
  text-align: left;
}

tr:hover {
  background-color: #222;
}

/* tr:nth-of-type(even) {
    background-color: rgba(0, 97, 223, 0.3);
} */

table tbody {
  height: auto;
  width: 100%;
}

table tr {
  width: 100%;
}

table thead {
  background: #013e8d;
  color: #fff;
}

table td {
  text-align: left !important;
}


